.food-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.food-item-img-container {
  position: relative;
}

.food-item-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.add {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}

.food-item-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

.food-item-counter img {
  width: 20px;
  cursor: pointer;
}

.food-item-info {
  margin-top: 10px;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-item-name-rating p {
  font-size: 1.2rem;
  font-weight: bold;
}

.food-item-desc {
  font-size: 0.9rem;
  color: #555;
}

.food-item-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--primary);
}

@media (max-width: 768px) {
  .food-item-name-rating p {
    font-size: 1rem;
  }

  .food-item-desc {
    font-size: 0.8rem;
  }

  .food-item-price {
    font-size: 1rem;
  }
}